/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  justify-contents: center;
  min-width: 500px;
  width: 25%;
}

tr {
  height: 2em;
}

table, th, td {
  border-style: double;
  border-width: 1px;
  padding: 0.25cm;
  margin: 0.25cm;
}

table {
  width: 25%;
  border-collapse: collapse;
}

a.button {
  padding: 0.25em;
  border-style: double;
  border-width: 1px;
  border-radius: 0.25em;
  font-weight: bold;
  text-color: black;
}

form {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%
}

form h3 {
  grid-column: 1 / span 2;
}

form > input {
  display: block;
}

form > label {
  display: block;
}

#header {
  padding: 1em;
  border-style: none none double none;
  border-width: 1px;
}
