h2 Client

div= @providers_client.name
div= @providers_client.email

= form_with(model: @providers_client) do |form|
  = form.hidden_field(:plan, value: @plan)
  = form.submit("Make #{@plan}")

h3 Back to
= link_to(@providers_client.provider.name, @providers_client.provider)
