p 
  | 
    The design page is a extremely simple. "STDOUT" is a flash render because I wanted
    everything to go through the web page. I hope that the fact that I print out a message
    to stdout during server startup proves that I know how to use stdout.

p
  |
    The resource at play is animal_feedings as the question asked me to feed animals
    and return the resulting output. Having the action be the resource is forward
    looking as that allows us to naturally audit these feedings if requested in the
    future.

= link_to("Get started", :animal_feedings)
