p Hello!
p Welcome to my takehome submission. I am Wolf. I am showing off a few things here.
p I am using a modular monolith. Each question gets its own module under the modules dir.
p If you care about styling, my resume is also done in html.
p Please refer to the commit log for more information.

= link_to("Design question", design_path)
