p
  Hello!
p
  Welcome to my submission.
p
  This app contains answers to the takehome questions. Each question gets its
  own engine and can be interacted with through the browser. Each engine is
  within the "modules/" directory.
p
  Why a modular monolith? Is that overengineering?
p
  It isn't hard to set up if you know what you are doing and it isolates the
  concepts.
