#root {
  display: flex;
  align-items: baseline;
  justify-content: center;
  transform-origin: center 4in;
}

h1 {
  color: rebeccapurple;
  font-size: 2em;
}

img {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0%;
}

.list {
  width: 30%;
  min-width: 200px;
}

.item {
  padding: 0.5cm;
  border: 2px;
  border-style: dashed;
  border-color: burlywood;
  color: teal;
  font-size: 1.5em;
}
